* {
    margin: 0%;

    padding: 0%;
}

body {
    background-color: rgb(255, 235, 193);
}


.titulo {

    text-align: center;
    color: rgb(142, 50, 0);
    font-style: italic;
    font-size: 60px;
    font-family: Georgia, serif;
    line-height: normal;
}

.subtitulo {
    background: rgb(143, 189, 211);
    text-align: center;
    color: rgb(243, 242, 242);
    font-style: italic;
    font-size: 40px;
    font-family: serif;
    font-family: Georgia, serif;
}

.navegador {
    background-color: rgb(142, 50, 0);
    text-align: center;
}

ul li a {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    text-align: center;
    color: rgb(243, 243, 243);
    list-style-type: none;
    font-style: italic;
    font-size: 25px;
    font-family: Georgia, serif;
}


.parrafito {
    text-align: center;
}

.parrafito {
    color: rgb(142, 50, 0);
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%
    }

    to {

        margin-left: 0%;
        width: 100%;
    }
}

li {
    color: rgb(142, 50, 0);
    border: none;
    padding: 8px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
}

article {
    text-align: center;
}

p {
    text-align: center;
    color: rgb(142, 50, 0);
    font-style: italic;
    font-size: 20px;
    font-family: Georgia, serif;
    line-height: normal;
    background-color: rgba(228, 162, 86, 0);
}

.parrafe {
    color: rgb(142, 50, 0);
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%
    }

    to {

        margin-left: 0%;
        width: 100%;
    }
}


h3 {
    text-align: center;
    color: rgb(142, 50, 0);
    font-style: italic;
    font-size: 15px;
    font-family: Georgia, serif;
}



footer {
    text-align: center;
    background-color: rgb(142, 50, 0);
}

h3 {
    color: rgb(255, 254, 253);
}

.atrasdeproductos {
    background-color: rgb(142, 50, 0);
    text-align: center;
}

.productos {
    text-align: center;
    color: rgba(243, 245, 243, 0.993);
    font-style: italic;
    font-size: 50px;
    font-family: serif;
    font-family: Georgia, serif;
    line-height: normal;
    background-color: rgb(143, 189, 211);
}

.combos {
    background-color: rgb(143, 189, 211);
    text-align: center;
    color: rgb(231, 197, 158);
    text-align: center;
    color: rgb(243, 242, 242);
    font-style: italic;
    font-size: 60px;
    font-family: georgia, serif;
}



h2 {

    text-align: center;
    font-style: italic;
    font-size: 40px;
    font-family: serif;
    font-family: Georgia, serif;
    color: rgb(142, 50, 0);
    ;
}

.diferentescombos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(231, 197, 158, 0);
    font-size: 30px;
}

.diama {
    font-size: 30px;
}

.diapa {
    font-size: 30px;
}

.diaA {
    font-size: 30px;
}

.diapascuas {
    font-size: 30px;
}



h3 {
    background-color: rgba(231, 197, 158, 0);
}

.nosotras {
    color: rgb(250, 250, 250);
    background: rgb(142, 50, 0);
    text-align: center;
    font-style: italic;
    font-size: 40px;
    font-family: serif;
    font-family: Georgia, serif;
}






.bodyContactanos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.batiendoconamor {
    text-align: center;
}

form {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
}

.Queremos {
    text-align: center;
    color: rgb(253, 251, 249);
    font-style: italic;
    font-size: 40px;
    font-family: Georgia, serif;
    line-height: normal;
    background: rgb(143, 189, 211);
}

.info {
    background-color: rgb();
}