@charset "UTF-8";
.btn--instagram {
  background-color: #ffebc1; }

.btn--facebook {
  background-color: #8e3200; }

.btn--whatsapp {
  background-color: #8fbdd3; }

.img {
  height: 50px;
  width: 50px; }

.header {
  background-color: #ffebc1; }
  .header .titulo {
    text-align: center;
    color: #8e3200;
    font-size: 80px;
    font-family: 'Katibeh';
    line-height: normal; }
  .header .subtitulo {
    background: #8fbdd3;
    text-align: center;
    color: #ffff;
    font-style: italic;
    font-size: 40px;
    font-family: Impact, 'Arial Narrow Bold', sans-serif; }
  .header .carrousel-item {
    display: grid;
    place-content: center; }
  .header ul li a {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    text-align: center;
    color: #ffff;
    list-style-type: none;
    font-size: 35px;
    font-family: "Katibeh"; }
  .header li {
    border: none;
    padding: 8px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px; }

.main {
  text-align: center; }
  .main p {
    text-align: center;
    color: #8e3200;
    font-size: 30px;
    font-family: "Katibeh";
    line-height: normal;
    border-radius: 110px;
    padding: 10px; }
  .main article {
    text-decoration: none;
    text-align: center;
    line-height: normal;
    border-radius: 130px;
    padding: 50px; }
  .main .carrusel {
    width: 200%;
    max-width: 500px; }

.footer {
  text-align: center;
  background-color: #8e3200; }
  .footer ul li a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    text-align: center;
    color: #ffff;
    list-style-type: none;
    font-style: italic;
    font-size: 35px;
    font-family: 'Katibeh', cursive; }
  .footer li {
    border: none;
    padding: 8px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px; }
  .footer h3 {
    color: #ffff;
    font-size: 25px;
    font-family: 'Katibeh', cursive; }

body header .navegador {
  background-color: #8e3200;
  text-align: center; }

body header .ul li a {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  text-align: center;
  color: #ffff;
  list-style-type: none;
  font-style: italic;
  font-size: 25px;
  font-family: Georgia, serif; }

body main {
  text-align: center; }
  body main .combos {
    background-color: #8fbdd3;
    text-align: center;
    text-align: center;
    color: #f3f2f2;
    font-style: italic;
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; }
  body main .madre {
    width: 200%;
    max-width: 500px;
    background-color: #8e3200;
    border-width: 10%; }
  body main h2 {
    text-align: center;
    font-style: italic;
    font-size: 40px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif serif;
    color: #8e3200; }
  body main .diferentescombos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(231, 197, 158, 0);
    font-size: 30px; }

.atrasdeproductos {
  background-color: #8e3200;
  text-align: center; }

.productos {
  text-align: center;
  color: rgba(243, 245, 243, 0.993);
  font-style: italic;
  font-size: 50px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  line-height: normal;
  background-color: #8fbdd3; }

main {
  text-decoration: none;
  text-align: center;
  line-height: normal;
  border-radius: 130px;
  padding: 50px; }
  main img {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8e3200; }

header .nosotras {
  color: #fafafa;
  background: #8e3200;
  text-align: center;
  font-style: italic;
  font-size: 40px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; }

main .parrafe {
  color: #8e3200;
  animation-duration: 3s;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif serif; }

main img {
  text-decoration: none;
  text-align: center;
  line-height: normal;
  border-radius: 130px;
  padding: 50px; }

main .niña {
  width: 200%;
  max-width: 500px;
  background-color: #ffebc1; }

body {
  background-color: #ffebc1; }
  body header {
    background-color: #ffebc1; }
    body header .navegador {
      background-color: #8e3200;
      text-align: center; }
    body header ul li a {
      display: flex;
      justify-content: space-between;
      text-decoration: none;
      text-align: center;
      color: #ffff;
      list-style-type: none;
      font-size: 35px;
      font-family: 'Katibeh', cursive; }
    body header li {
      border: none;
      padding: 8px 22px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      margin: 4px 2px; }
  body main {
    background-color: #ffebc1; }
    body main .batiendoconamor {
      display: flex;
      justify-items: center; }
    body main .Queremos {
      background: #8fbdd3;
      text-align: center;
      color: #ffff;
      font-size: 40px;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; }
    body main .formularioss {
      max-width: 50em;
      padding: 1.3em;
      margin: 0 auto;
      background-color: #ffebc1;
      font-weight: bold;
      border-radius: 0.5em;
      box-shadow: inset 1px 1px 50px 0.5px #8fbdd3; }
