body {
    background-color: $colorFondo;

    header {
        background-color: $colorFondo;

        .navegador {
            background-color: $colorTitulos;
            text-align: center;
        }

        ul li a {
            display: flex;
            justify-content: space-between;
            text-decoration: none;
            text-align: center;
            color: $colorLetras;
            list-style-type: none;
            font-style: italic;
            font-size: 25px;
            font-family: Georgia, serif;
        }

        li {

            border: none;
            padding: 8px 22px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            margin: 4px 2px;
        }
    }

    main {
        background-color: $colorFondo;

        .batiendoconamor {
            display: flex;
            justify-items: center;
        }

        .Queremos {
            background: $colorSubtitulos;
            text-align: center;
            color: $colorLetras;
            font-size: 40px;
            font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
           
        }

        .formularioss {
            max-width: 50em;
            padding: 1.3em;
            margin: 0 auto;
            background-color: $colorFondo;
            font-weight: bold;
            border-radius: 0.5em;
            box-shadow: inset 1px 1px 50px 0.5px $colorSubtitulos;
        }
    }

}