.header {
    background-color: $colorFondo;

    .titulo {
        text-align: center;
        color: $colorTitulos;
        font-size: 80px;
        font-family: 'Katibeh';
        line-height: normal;
    }

    .subtitulo {
        text-align: center;
        background: $colorSubtitulos;
        line-height: normal;
        color: $colorLetras;
        font-style: italic;
        font-size: 30px;
        font-family: Impact, 'Arial Narrow Bold', sans-serif;
    }


    ul li a {
        display: flex;
        justify-content: space-between;
        text-decoration: none;
        text-align: center;
        color: $colorLetras;
        list-style-type: none;
        font-size: 35px;
        font-family: "Katibeh";
    }

    li {
        border: none;
        padding: 8px 22px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
    }
}

.main {
    text-align: center;

    p {
        text-align: center;
        color: $colorTitulos;
        font-size: 30px;
        font-family: "Katibeh";
        line-height: normal;
        border-radius: 110px;
        padding: 10px;
    }

    article {
        text-decoration: none;
        text-align: center;
        line-height: normal;
        padding: 50px;
    }


    }







.footer {




    text-align: center;
    background-color: $colorTitulos;

    ul li a {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-decoration: none;
        text-align: center;
        color: $colorLetras;
        list-style-type: none;
        font-style: italic;
        font-size: 35px;
        font-family: 'Katibeh', cursive;
    }

    li {
        border: none;
        padding: 8px 22px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
    }

    h3 {
        color: $colorLetras;
        font-size: 25px;
        font-family: 'Katibeh', cursive;

    }
}