.atrasdeproductos {
    background-color: rgb(142, 50, 0);
    text-align: center;
}

.productos {
    text-align: center;
    color: rgba(243, 245, 243, 0.993);
    font-style: italic;
    font-size: 50px;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: normal;
    background-color: rgb(143, 189, 211);
}

main {
    text-decoration: none;
    text-align: center;
    line-height: normal;
    border-collapse: collapse;

    img {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color:none;
        
        padding: 50px;
        
    }

}